name: GitHub release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create file
        run: echo file > ./file.txt

      - name: Create release
        run: gh release create v$( date +%Y%m%d%H%M ) ./file.txt
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
